.green-box {
    border-radius: 25px;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 25px;
    margin: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
}