.carousel-caption {
	padding-bottom: 0px;
}

h1 .mission-statement {
	color: white;
	font-size: 10px;
}

.heading {
	font-family: 'Noto Serif', sans-serif;
	font-size: 50px;
	padding: 30px 20px;
}

.subheading{
	margin: 10px;
	font-family: 'Noto Serif', sans-serif;
}

.sub{
	margin: 30px;
}

.img {
	width: 80%;
	height: 80%;
}

.footer{
	font-family: 'Noto Serif', sans-serif;
	background: gainsboro;
	padding: 20px;
}